@use '../../styles/variables' as *;

.create-news {
  display: flex;
  justify-content: center;
  margin: 30px 0;

  button {
    background-color: $blue-green;
    border: none;
    color: #fff;
    padding: 8px;
    width: 100%;
    max-width: 188px;
    border-radius: 8px;
  }
}

.news-list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  //grid-template-rows: repeat(4, 150px);
  grid-auto-rows: 150px;
  grid-gap: 30px;
  box-sizing: border-box;
  width: 100%;

  .grid-item {
    list-style: none;
    width: 100%;

    a {
      text-decoration: none;

      .news-content {
        display: flex;
        padding: 8px 10px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 1px 2px 20px rgba(49, 60, 84, 0.05);

        .image-container {
          width: 100%;
          height: 100%;
          max-width: 96px;
          max-height: 134px;
          aspect-ratio: 48 / 67;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $green-bg-color;
          border-radius: 8px;
          overflow: hidden;

          img {
            height: 40px;
            width: 40px;
          }

          .image-news-fill {
            width: 100%;
            height: 100%;
          }
        }

        .news-data {
          margin-left: 16px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          min-width: 0;

          .news-title {
            color: $blue-green;
            font-weight: 500;
            font-size: 18px;
            line-height: 120%;
            margin-bottom: 16px;
          }
        }

        p {
          display: none;
          overflow: hidden;
          color: $blue-green;
          font-size: 14px;
          letter-spacing: 0.25px;
          max-height: 42px;
          margin-bottom: 10px;
        }
      }
    }

    &:first-child, &:nth-child(3n){
      grid-row: span 2;

      .news-content {
        display: block;
        height: 100%;

        .image-container {
          aspect-ratio: unset;
          max-width: none;
          max-height: 147px;
        }

        p {
          display: block;
        }
      }
    }

    &:last-child {
      grid-row: span 1;

      .news-content {
        display: flex;

        .image-container {
          width: 100%;
          height: 100%;
          max-width: 96px;
          max-height: 134px;
          aspect-ratio: 48 / 67;
        }

        p {
          display: none;
        }
      }
    }

    @media (max-width: 991px) {
      margin-right: 0;
    }
  }

  @media (max-width: 1199px) {
    grid-template-columns: repeat(2, 1fr);

  }

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 150px;
  }
}

.news-category {
  margin-top: 10px;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 500;
  color: #989898;
  display: flex;
  align-items: center;

  .cat-ball {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: $orange-color;
    margin-right: 8px;
  }
}

.created-at {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #989898;

  img {
    margin-right: 4px;
  }
}

.news-post-content {

  .post-image {
    width: 100%;
    border-radius: 12px;
  }

  h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 16px;
    margin-top: 35px;
    color: $blue-green;
  }

  .created-at {
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    line-height: 140%;
    color: $blue-green;
  }

  h5 {
    font-size: 20px;
    color: $blue-green;
  }

}