@use '../../styles/variables' as *;

.legal-page {
  min-height: 100dvh;
  width: 100dvw;
  background-color: $green-bg-color;

  .legal-body {
    padding: 40px 20px;

    h1 {
      color: $blue-green;
      font-size: 42px;
      text-align: center;
      margin-bottom: 30px;
    }

    h6 {
        color: $blue-green;
        font-size: 18px;
        margin-bottom: 10px;
    }

    p {
      color: $blue-green;
      font-size: 16px;
      margin-bottom: 30px;

      a {
        color: $blue-green;
        text-decoration: underline;
      }
    }
  }
}