$green-bg-color: #F5F8EE;
$blue-green: #08394A;
$blue-green-40: #1E31734D;
$blue-green-70: #08394AB2;
$green-primary: #50B964;
$green-secondary: #35B46F;
$green-darker: #0E7059;
$gray-color: #E3E3E3;
$orange-color: #FFA031;
$light-green: #F5F8EE;