@use '../../styles/variables' as *;

.category-selector {
  display: flex;
  overflow-y: scroll;
  padding: 32px 0 42px 0;
  margin: 0 100px;

  @media (max-width: 991px) {
    padding: 20px 0;
    margin: 0 50px;
  }

  @media (max-width: 767px) {
    margin: 0 20px;
  }

  li {
    list-style: none;
    margin-right: 25px;

    a {
      font-size: 18px;
      text-decoration: none;
      color: $gray-color;
      display: inline-block;
      box-sizing: border-box;
      white-space: nowrap;
      width: 100%;

      &.active {
        color: $blue-green;
        font-weight: 700;
      }
    }
  }
}

.create-post-banner {
  background-color: $blue-green;
  width: 100%;
  padding: 20px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  @media (max-width: 575px) {
    flex-direction: column;
  }

  .banner-left {
    display: flex;
    align-items: center;

    @media (max-width: 575px) {
      margin-bottom: 20px;
    }

    .emoji-wrap {
      background-color: #F9DFC0;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      margin-right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    span {
      font-size: 14px;
      color: #fff;
    }
  }

  button {
    padding: 12px 16px;
    border-radius: 8px;
    background-color: $orange-color;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border: none;
  }
}

.empty-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 76px;

  img {
    margin-bottom: 28px;
  }

  h3 {
    font-size: 24px;
    font-weight: 700;
    color: $blue-green;
    margin-bottom: 8px;
    text-align: center;
  }

  p {
    font-size: 18px;
    color: $blue-green-40;
    line-height: 120%;
    text-align: center;
  }
}

.forums-list {
  margin: 0;
  padding: 0;

  li {
    padding: 0;
    list-style: none;
    margin-bottom: 30px;
  }
}

.single-post-link {
  width: 100%;
  display: inline-block;
  text-decoration: none;
}

.single-post {
  background-color: $light-green;
  padding: 20px;
  border-radius: 16px;

  .post-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    h5 {
      font-size: 16px;
      line-height: 22px;
      font-weight: 700;
      color: $blue-green;
      margin: 0 10px 0 0;
    }

    .post-like-btn {
      background: transparent;
      border: none;
      padding: 0;

      img {
        height: 24px;
        width: 24px;
      }
    }
  }

  .post-category {
    padding: 4px 10px;
    background-color: $blue-green;
    border-radius: 20px;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    width: fit-content;
    margin-bottom: 30px;
    text-transform: lowercase;
  }

  .post-content {
    margin-bottom: 24px;
    color: $blue-green-70;
  }

  .post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    //@media (max-width: 575px) {
    //  flex-direction: column;
    //  align-items: flex-start;
    //}

    .post-author {
      display: flex;
      align-items: flex-start;
      margin-bottom: 10px;

      .profile-pic-placeholder {
        font-size: 16px;
      }

      .post-author-data {
        margin-left: 10px;

        .author-name {
          font-size: 14px;
          color: $blue-green;
        }

        .post-time {
          color: #727272;
          font-size: 12px;
          line-height: 22px;
        }
      }
    }

    .post-stats {
      display: flex;
      align-items: center;
      margin-left: auto;

      @media (max-width: 575px) {
        flex-direction: column;
        align-items: start;

      }

      .post-stats-count {
        color: $blue-green;
        font-size: 12px;
        line-height: 22px;

        &:first-child {
          margin-right: 40px;

          @media (max-width: 575px) {
            margin: 0;
          }
        }
      }
    }
  }

  .survey-list {
    padding: 0;
    margin: 0;

    .option-item {
      list-style: none;
      padding: 10px 20px;
      background-color: #fff;
      border-radius: 8px;
      margin-bottom: 16px;

      .option-item-button {
        width: 100%;
        background-color: #fff;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }



      .option-radio {

        display: flex;
        align-items: center;

        .fake-radio {
          margin-right: 12px;
          border-color: $gray-color;
          border-width: 2px;
          border-style: solid;
          height: 16px;
          width: 16px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          &.selected-vote {
            border-color: $orange-color;
          }

          .fake-radio-inner {
            height: 8px;
            width: 8px;
            border-radius: 50%;
            background-color: $orange-color;
          }
        }

        label {
          color: $gray-color;

          &.selected-label {
            color: $blue-green;
          }
        }
      }

      .option-votes {
        color: $gray-color;

        &.selected-vote {
          color: $orange-color;
        }
      }
    }
  }
}

.create-content-modal {
  .modal-dialog {
    width: 100%;
    max-width: 882px;
    padding: 20px;

    @media (max-width: 575px) {
      margin: 0;
    }
  }

  .modal-content {
    padding: 32px;

    @media (max-width: 575px) {
      padding: 32px 15px;
    }

    .modal-header {
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: none;
      margin-bottom: 30px;

      h4 {
        font-size: 28px;
        font-weight: 700;
        color: #000;
        margin: 0;

        //@media (max-width: 575px) {
        //  font-size: 16px;
        //}
      }

      button {
        background-color: $orange-color;
        border-radius: 8px;
        width: 100%;
        max-width: 150px;
        text-align: center;
        font-size: 16px;
        color: #fff;
        padding: 8px;
        border: none;
      }

      .close-btn {
        background: transparent;
        border: none;
        padding: 0;
        margin: 0;
        width: fit-content;
      }
    }

    .modal-body {
      padding: 0;

      .modal-input-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;

        label {
          color: $blue-green;
          font-size: 16px;
          margin-bottom: 8px;
        }

        .input-border {
          border: 1px solid $blue-green-40;
          border-radius: 8px;
          padding: 16px;
          font-size: 14px;
          outline: none;
        }

        textarea {
          resize: none;
          height: 100%;
          min-height: 250px;
        }

        .dropdown-group {
          display: flex;
          align-items: center;

          @media (max-width: 575px) {
            flex-direction: column;
          }
        }

        #cat-selector {
          width: 100%;
          margin-right: 30px;

          @media (max-width: 575px) {
            margin-bottom: 16px;
            margin-right: 0;
          }

          .dropdown-btn {
            background-color: #fff;
            border-color: $blue-green-40;
            border-radius: 8px;
            color: $blue-green;
            text-align: left;
            padding: 16px;
            font-size: 14px;

            @media (max-width: 767px) {
              text-align: center;
              width: 100%;
            }

            @media (max-width: 575px) {
              text-align: center;
              max-width: none;
            }
          }
        }

        .create-cat-btn {
          background-color: $blue-green;
          border-radius: 8px;
          padding: 16px 30px;
          font-size: 16px;
          color: #fff;
          border: none;
          width: 100%;
          max-width: 185px;

          @media (max-width: 575px) {
            max-width: none;
          }
        }

        .resource-type {
          font-size: 18px;
          font-weight: 500;
          color: $blue-green;
          background-color: transparent;
          border: none;
          width: fit-content;

          &.selected {
            border-bottom: 2px solid $orange-color;
          }
        }

        &.attachment-type {
          flex-direction: row;
          margin-bottom: 24px;

          .attachment-button {
            width: fit-content;
            margin-right: 30px;
            background-color: transparent;
            border: none;
            border-bottom: 2px solid #fff;
            font-size: 18px;
            color: $blue-green;

            &.selected {
              border-bottom: 2px solid $orange-color;
              font-weight: 500;
            }
          }
        }

        &.survey-list {
          label {
            margin-bottom: 10px;
          }

          .new-survey-option {
            padding: 6px 20px;
            color: $blue-green;
            display: flex;
            justify-content: space-between;
            background-color: rgba(8, 57, 74, 0.1);
            margin-bottom: 16px;
            border-radius: 8px;

            button {
              background-color: transparent;
              border: none;
            }
          }

          .add-survey-option-btn {
            width: fit-content;
            display: flex;
            align-items: center;
            color: #00A1FE;
            border: none;
            background-color: transparent;

            .bordered-plus {
              border: 1px solid #00A1FE;
              height: 24px;
              width: 24px;
              display: flex;
              padding: 0;
              justify-content: center;
              align-items: center;
              margin-right: 8px;
              border-radius: 50%;
            }
          }


          .new-option-wrapper {
            display: flex;
            align-items: center;
            input {
              max-width: 400px;
              border-color: $blue-green-40;
              border-width: 1px;
              border-radius: 8px;
              margin-right: 10px;
              padding: 16px;
              font-size: 14px;
            }
            button {
              width: fit-content;
              border: none;
              background-color: transparent;
              color: #00A1FE;
              font-weight: 700;
            }
          }
        }
      }

      .publish-btn {
        width: 100%;
        background-color: $orange-color;
        border: none;
        border-radius: 8px;
        color: #fff;
        padding: 15px;
      }
    }
  }
}

